.container {
  min-height: 100vh;
  display: flex;
  height: 100vh;
  background-color: #141414;
  color: white;
  font-size: 60px;
}

.mainText {
  font-size: 50px;
}

.paragraph {
  font-size: 22px;
}

.leftScreen {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

.rightScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactButton {
  background-color: #be272d;
  border: 0px;
  color: white;
  width: 237px;
  height: 58px;
  font-size: 22px;
  border-radius: 3px;
  transition: 0.8s;
  cursor: pointer;
}

.contactButton:hover {
  background-color: #c3090f;
}
